<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle color="light">
      <ion-icon name="menu" style="font-size:25px;"></ion-icon>
    </button>
    <ion-title>List Visiting Sales
      <div style="font-size:15px;">{{datenowformat}}</div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background:#f3f3f3;">
  <div *ngIf="visiting.length == 0" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
    <p style="text-align: center;color:#777;font-size:16px;">Tidak Ada Kunjungan pada tanggal ini.</p>
  </div>
  <ion-searchbar [(ngModel)]="input" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <ion-card *ngFor="let visit of visiting">
    <ion-item>
      <h3 style="font-weight: bold;">{{visit.pic}}</h3>
      <p>Total Kunjungan ({{visit.totalvisit}} Toko/Bengkel)</p>
      <button item-end ion-button style="width:30px;height:30px;background: #f3f3f3;" (click)="doDetail(visit)">
        <i class="fas fa-chevron-down" style="font-size:15px;color:#488aff;"></i>
      </button>
    </ion-item>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
      loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer style="background: #fff;box-shadow: 0px 0px 10px #bebebe;">
  <ion-row style="padding:10px;background: #fff;">
    <ion-col col-6 style="text-align: center;color:#488aff;border-right:1px solid;border-color:#dedede;font-weight: bold;" (click)="doUrutkan()">URUTKAN</ion-col>
    <ion-col col-6 style="text-align: center;color:#488aff;font-weight: bold;" (click)="doOpenDatePicker()">TANGGAL LAIN</ion-col>
  </ion-row>
</ion-footer>