.side-content {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: #ececec;
    margin-top: 0px;
    background: #ececec;
}
.side-header-list {
    margin-top: 0px;
    margin-left: 0px;
    background: #ececec;
    color: #000000;
}
.btn-side-menu {
    background: #ececec;
    color: #000000;
}
.btn-side-menu:hover {
    background: #e4e4e4;
    color: #000000;
}
.side-list {
    background: #ececec;
}
input[type="text"][disabled] {
    opacity: 1;
 }